@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}
